body {
  font-family: Raleway;
  box-sizing: border-box;
  max-width: 960px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  margin-top: 30px;
  padding: 0;
}

.flex-container-social {
  display: flex;
  margin-top: 30px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  justify-content: center;
}

.social-icon {
  flex: 0 0 64px;
  margin: 10px;
}

.social-icon:hover {
  cursor:pointer;
}

@media screen and (max-width: 768px) {
  .flex-container {
    flex-wrap: wrap;
  }

  .flex-item {
    background: rgba(0,0,0,0.1);
    list-style-type: none;
    height: 30px;
    line-height: 30px;
    flex: 1 1 100%;
    text-align: center;
  }

  .information-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 97%;
    margin: 1%;
    height: 200px;
    border: 1px solid black; /*border is keeping us from using 100%*/
  }

  .box-1 {
    order: 2;
  }

  .box-2 {
    order: 3;
  }

  .box-3 {
    order: 1;
  }

  .picture {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 97%;
    margin: 1%;
    height: 200px;
    border: 1px solid black;
  }

  .article, p {
    flex: 0 1 98%;
    text-align: justify;
    margin: 1%;
  }

  .social-icon {
    flex: 0 0 32px;
    height: 32px;
    margin: 10px;
  }
}

@media screen and (min-width: 768px) {

  .flex-item {
    list-style-type: none;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    transition: background-color 0.5s ease,
                color 0.5s ease;

    /* Flexbox stuff */
    flex: 1 1 25%;
  }

  .flex-item:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }

  .information-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 200px;
    margin: 10px;
    height: 200px;
    border: 1px solid black;
  }

  .picture {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 30%;
    border: 1px solid black;
  }

  .pictureRight {
    margin-left: 20px;
  }

  .pictureLeft {
    margin-right: 20px;
  }

  .article {
    flex: 0 1 70%;
    text-align: justify;
  }

  .number {
    font-size: 20px;
  }

}
